@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: #f9fafb;
    color: #111827;
  }
}
